@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@1,700&display=swap');
*{text-align:center; color:white;font-family: 'Charis SIL', serif;}
.header{width:100%;margin: 0 auto;padding-top:45px;}
.title{height:100px;}
html, body {margin: 0px; padding: 0px; background-image:url('bgimg4.jpg');background-size:cover;background-position:center;background-repeat:no-repeat;}
.navbar1 p{border-top:1.5px solid;border-bottom:1.5px solid;margin-bottom:20px;height:25px;padding:0;}
.navbar2{margin:10px;border-bottom:3px solid;margin-left:0px;margin-right:0px;} 
.main{border:3px solid;clear:both;margin:0 auto;width:70%;height:550px;background-color:#002E55;}

/* 브라우저 마진과 패딩 리셋 */
	* {margin:0;padding:0;}
/* INPUT 가리기 */
	.section [id*="slide"] {display:none;}

	
	/* 슬라이드 영역 - max-width 크기를 조절해주면 됩니다*/
	.section .slidewrap {max-width:30000px;margin:0 auto;overflow:hidden;position:relative;}
	.section .slidelist {white-space:nowrap;font-size:0;}
	.section .slidelist > li {display:inline-block;vertical-align:middle;width:100%;}
	.section .slidelist > li > a {display:block;position:relative;}

	/* 좌우로 넘기는 LABEL버튼에 대한 스타일 */
	.section .slide-control {top:0;left:0;z-index:10;width:100%;height:100%;}
	.section .slide-control label {position:absolute;z-index:1;top:50%;transform:translateY(-50%);padding:50px;cursor:pointer;}
	.section .slide-control .left {left:0.5px; top:240px; background:url('left-arrow.png') center center / 100% no-repeat; background-size:40px;}
	.section .slide-control .right {right:0.5px; top:240px; background:url('right-arrow.png') center center / 100% no-repeat; background-size:40px;}
	.section .slide-control [class*="control"] {display:none;}

	/* INPUT이 체크되면 변화값이 li까지 전달되는 스타일 */
	.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
	.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
	.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
	.section [id="slide04"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-300%);}
	.section [id="slide05"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-400%);}
	.section [id="slide06"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-500%);}
	.section [id="slide07"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-600%);}
	.section [id="slide08"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-700%);}
	
	/*  INPUT이 체크되면 변화값이 좌우 슬라이드 버튼을 담고 있는 div 까지 전달되는 스타일 */
	.section [id="slide01"]:checked ~ .slidewrap .control01 {display:block;}
	.section [id="slide02"]:checked ~ .slidewrap .control02 {display:block;}
	.section [id="slide03"]:checked ~ .slidewrap .control03 {display:block;}
	.section [id="slide04"]:checked ~ .slidewrap .control04 {display:block;}
	.section [id="slide05"]:checked ~ .slidewrap .control05 {display:block;}
	.section [id="slide06"]:checked ~ .slidewrap .control06 {display:block;}
	.section [id="slide07"]:checked ~ .slidewrap .control07 {display:block;}
	.section [id="slide08"]:checked ~ .slidewrap .control08 {display:block;}
	
.slidelist img{margin-top:75px; width:700px; height:350px;}